{% extends "./layout.html" %}


{% set thisPageTitle = "live-animals-and-derivatives" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Tell us about the specimen
        </h1>
      </legend>

        <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label" for="specimen-gender">
              What is the specimen's gender?
            </label>
          <input class="govuk-input govuk-input--width-10" id="specimen-gender" name="specimen-gender" type="text" spellcheck="false" autocomplete="specimen-gender" value="{{data['specimen-gender']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="closed-ring-number">
              Closed ring number or microchip
            </label>
          <input class="govuk-input govuk-input--width-20" id="closed-ring-number" name="closed-ring-number" type="text" spellcheck="false" autocomplete="closed-ring-number" value="{{data['closed-ring-number']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hatch-birth-date">
              Hatch or birth date
            </label>
            <div id="hatch-date-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="hatch-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hatch-date-day" name="hatch-date-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hatch-date-month" name="hatch-date-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hatch-date-year" name="hatch-date-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>

        </fieldset>

        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>


{% endblock %}
