{% extends "./layout.html" %}


{% set thisPageTitle = "who-is-importing-the-specimen" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{data['species-name-1']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span>
          <h1 class="govuk-fieldset__heading">
            Who is importing the specimen?
          </h1>
        </legend>
        <div id="event-name-hint" class="govuk-hint">
        Tell us about the person or business that you are sending the specimen to.
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="receiver-full-name">
          Full name
        </label>
      <input class="govuk-input" id="receiver-full-name" name="receiver-full-name" type="text" spellcheck="false" autocomplete="name" value="{{data['receiver-full-name']}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="receiver-full-name">
          Business name (optional)
        </label>
      <input class="govuk-input" id="receiver-full-name" name="receiver-full-name" type="text" spellcheck="false" autocomplete="name" value="{{data['receiver-full-name']}}">
      </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="receiver-international-address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="receiver-international-address-line-1" name="receiver-international-address-line-1" type="text" autocomplete="receiver-international-address-line-1" value="{{data['receiver-international-address-line-1']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="receiver-international-address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="receiver-international-address-line-2" name="receiver-international-address-line-2" type="text" autocomplete="receiver-international-address-line-2"  value="{{data['receiver-international-address-line-2']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="receiver-international-address-postal-code">
            Postcode or zip code (if the country has one)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="receiver-international-address-postal-code" name="receiver-international-address-postal-code" type="text" value="{{data['receiver-international-address-postal-code']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="receiver-international-address-country">
            Country
          </label>
          <input class="govuk-input govuk-input--width-10" id="receiver-international-address-country" name="receiver-international-address-country" type="text" autocomplete="receiver-international-address-country" value="{{data['receiver-international-address-country']}}">
        </div>

      </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>


{% endblock %}
