{% extends "./layout.html" %}


{% set thisPageTitle = "are-you-sending-the-specimen-to-someone-else" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <span class="govuk-caption-l">{{data['species-name-1']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span>
        <h1 class="govuk-heading-l">Are you sending the specimen to someone else?</h1>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sendingToSomeoneElse-yes" name="sendingToSomeoneElse" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="sendingToSomeoneElse-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sendingToSomeoneElse-no" name="sendingToSomeoneElse"  type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="sendingToSomeoneElse-no">
              No, I'm keeping the specimen
            </label>
          </div>
        </div>
      </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
