{% extends "./layout.html" %}


{% set thisPageTitle = "do-you-know-the-trade-term-code" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span>
        <h1 class="govuk-heading-l">Do you know the trade term code?</h1>
        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="trade-term-yes" name="trade-term" type="radio" value="yes" data-aria-controls="conditional-trade-tern">
            <label class="govuk-label govuk-radios__label" for="trade-term-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-trade-tern">
            <div class="govuk-form-group">
              <label class="govuk-label" for="trade-term">
                Enter the trade tern code?
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="trade-term" name="trade-term" type="text">
            </div>
        </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="trade-term-no" name="trade-term"  type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="trade-term-no">
              No
            </label>
          </div>
      <div>
          <a href="#">How to find the trade term code</a>
      </div>
</div>
    </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
