{% set pageTitle = "permit-preview" %}

{% extends "./layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Preview your applications</h1>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <form method="post" autocomplete="off">
        <p><a href="permit-1" target="iframe-main">Application 1</a></p>
        <p><a href="permit-2" target="iframe-main">Application 2</a></p>
        <br><button class="govuk-button">I'm done previewing</button>
      </form>
    </div>

    <div class="govuk-grid-column-three-quarters" id="wrap">
      <!-- <a href="pdfs/permit.html" download="permit.html"><button type="button">Download</button></a> -->
      <!-- <embed src="pdfs/permit-2.html" width="100%" height="1300px"></embed> -->
      <iframe src="permit-1.html" id="iframe-main" name="iframe-main" style="border:none;"></iframe>
    </div>
</div>


<style>
  /* #wrap {
    width: 750px;
    height: 1500px;
    padding: 0;
    overflow: hidden;
  } */
  #iframe-main {
    width: 900px;
    height: 1250px;
    border: 0px;
    background-color: #f3f2f1;
  }
  #iframe-main {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #iframe-main {
      zoom: 1;
    }
  }
</style>

    <!-- <button class="govuk-button">Continue</button> -->

{% endblock %}
