{% extends "./layout.html" %}


{% set thisPageTitle = "describe-the-specimen" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Describe the specimen
        </h1>
      </legend>

        <fieldset class="govuk-fieldset">
<!-- If live specimen -->
          {% if data['isAlive'] === 'yes'  %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="specimen-gender">
              Gender
            </label>
          <input class="govuk-input govuk-input--width-10" id="specimen-gender" name="specimen-gender" type="text" spellcheck="false" autocomplete="specimen-gender" value="{{data['specimen-gender']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="closed-ring-number">
              Closed ring number or microchip
            </label>
          <input class="govuk-input govuk-input--width-20" id="closed-ring-number" name="closed-ring-number" type="text" spellcheck="false" autocomplete="closed-ring-number" value="{{data['closed-ring-number']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hatch-birth-date">
              Hatch or birth date
            </label>
            <div id="hatch-date-hint" class="govuk-hint">
              For example, 27 3 2007
            </div>
            <div class="govuk-date-input" id="hatch-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hatch-date-day" name="hatch-date-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="hatch-date-month" name="hatch-date-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="hatch-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="hatch-date-year" name="hatch-date-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </div>
          {% endif %}

<!-- If dead specimen -->
          {% if data['isAlive'] === 'no'  %}
          <div class="govuk-form-group">
            <label class="govuk-label" for="imported-via">
              Imported via
            </label>
          <input class="govuk-input" id="imported-via" name="imported-via" type="text" spellcheck="false" autocomplete="imported-via" value="{{data['imported-via']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="permit-number">
              Permit number
            </label>
          <input class="govuk-input govuk-input--width-10" id="permit-number" name="permit-number" type="text" spellcheck="false" autocomplete="permit-number" value="{{data['permit-number']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="permit-issue-date">
              Permit issue date
            </label>

          <div id="permit-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="permit-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="permit-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="permit-issued-day" name="permit-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="permit-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="permit-issued-month" name="permit-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="permit-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="permit-issued-year" name="permit-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
          {% endif %}


        </fieldset>

        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>


{% endblock %}
