{% extends "./layout.html" %}


{% set thisPageTitle = "parameters" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Specimen-driven descriptions
            </h1>
          </legend>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <a href="/v04/public/is-the-specimen-alive?permitType=import&specimenType=animal&specimen=default">
                    Animal<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                    <li>
                    <a href="/v04/public/is-the-specimen-alive?permitType=import&specimenType=default&specimen=default">
                    Plants<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/v04/public/is-the-specimen-alive?permitType=import&specimenType=animal&specimen=tortoise">
                    Tortoise<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                  <li>
                    <a href="/v04/public/is-the-specimen-alive?permitType=import&specimenType=plant&specimen=coral">
                    Coral<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                </ul>

        </fieldset>
      </div>

    </form>
  </div>
</div>



{% endblock %}
