{% extends "./layout.html" %}


{% set thisPageTitle = "where-should-we-send-the-permit" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Where should we send the permit?
          </h1>
        </legend>

        <div id="owner-details-hint" class="govuk-hint">
          Enter the owner's address.
          </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="owner-address-line-1" name="owner-address-line-1" type="text" autocomplete="address-line1" value="{{data['owner-address-line-1']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="owner-address-line-2" name="owner-address-line-2" type="text" autocomplete="address-line2"  value="{{data['owner-address-line-2']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="owner-address-town" name="owner-address-town" type="text" autocomplete="address-level2" value="{{data['owner-address-town']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="owner-address-county" name="owner-address-county" type="text" value="{{data['owner-address-county']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="owner-address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="owner-address-postcode" name="owner-address-postcode" type="text" autocomplete="postal-code" value="{{data['owner-address-postcode']}}">
        </div>

      </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>


{% endblock %}
