{% extends "./layout.html" %}


{% set thisPageTitle = "Check your answers" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Falco rusticolus, Gyr Falcon {{data['speciesName']}}</span>
        <h1 class="govuk-heading-l">Check your answers for specimen 1 of 4</h1>

<!-- Contact details -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Contact details</h2>
            </dt>
            <dd class="govuk-summary-list__value">
               <!-- blank cell -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact-details">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> name</span> -->
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Business name
            </dt>
            <dd class="govuk-summary-list__value">
              Kew Gardens
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> business name</span> -->
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              sarah@kew.org.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> email</span> -->
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Applicant address
            </dt>
            <dd class="govuk-summary-list__value">
              Kew Gardens<br>72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> address</span> -->
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agent address
            </dt>
            <dd class="govuk-summary-list__value">
              Bird Exchange Ltd<br>2005 Market Row<br>Kent<br>DA23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> address</span> -->
              </a>
            </dd>
          </div>
        </dl>

<!-- Permit details -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Permit details</h2>
            </dt>
            <dd class="govuk-summary-list__value">
               <!-- blank cell -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="permit-details">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Permit type
            </dt>
            <dd class="govuk-summary-list__value">
              Import
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> permit type</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Purpose code
            </dt>
            <dd class="govuk-summary-list__value">
              D
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> licence type</span> -->
              </a>
            </dd>
          </div>
        </dl>

<!-- Specimen details -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Specimen details</h2>
            </dt>
            <dd class="govuk-summary-list__value">
               <!-- blank cell -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="specimen-details">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Scientific name
            </dt>
            <dd class="govuk-summary-list__value">
              Falco rusticolus, Gyr Falcon
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Scientific name</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is specimen alive?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Is specimen alive?</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Source code
            </dt>
            <dd class="govuk-summary-list__value">
              B
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Source code</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Trade term code
            </dt>
            <dd class="govuk-summary-list__value">
              Not known
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Trade term code</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of specimens
            </dt>
            <dd class="govuk-summary-list__value">
              4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Number of specimens</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              Female
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Gender</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Closed ring number or microchip
            </dt>
            <dd class="govuk-summary-list__value">
              100 - 200
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Closed ring number or microchip</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hatch or birth date
            </dt>
            <dd class="govuk-summary-list__value">
              2 January 2000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Hatch or birth date</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Any other information?
            </dt>
            <dd class="govuk-summary-list__value">
              no information provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Any other information?</span> -->
              </a>
            </dd>
          </div>
        </dl>

<!-- Specimen history -->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <h2 class="govuk-heading-m">Specimen history</h2>
            </dt>
            <dd class="govuk-summary-list__value">
               <!-- blank cell -->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="specimen-history">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country you are importing from
            </dt>
            <dd class="govuk-summary-list__value">
              France
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Country you are importing from</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Permit number
            </dt>
            <dd class="govuk-summary-list__value">
              ABC123456789
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Permit number</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Origin permit issue date
            </dt>
            <dd class="govuk-summary-list__value">
              18 March 2001
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Origin permit issue date</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country of last re-export
            </dt>
            <dd class="govuk-summary-list__value">
              Spain
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Country of last re-export</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last re-export certificate number
            </dt>
            <dd class="govuk-summary-list__value">
              DP123456789
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Last re-export certificate number</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last re-export certificate issue date
            </dt>
            <dd class="govuk-summary-list__value">
              17 June 1999
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Last re-export certificate issue date</span> -->
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address where specimen will be kept
            </dt>
            <dd class="govuk-summary-list__value">
              Kew Gardens<br>72 Guild Street<br>London<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!-- Change<span class="govuk-visually-hidden"> Address where specimen will be kept</span> -->
              </a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Do you want to use these details for all 4 specimens?</h2>

        <div class="govuk-form-group">
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes-all" name="useDetails" type="radio" value="yes-all">
              <label class="govuk-label govuk-radios__label" for="yes-all">
                Yes - use these details
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no-none" name="useDetails"  type="radio" value="no-none">
              <label class="govuk-label govuk-radios__label" for="no-none">
                No - I want to use different details
              </label>
            </div>
          </div>
        </div>

        <form method="post" novalidate>

          <!-- <input type="hidden" name="answers-checked" value="true"> -->

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>

{% endblock %}
