{% set pageTitle = "preview-applications" %}

{% extends "./layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Preview your applications</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">Applications</h2>
    <p><a href="applications/application-1" target="iframe-main" onclick="changetitle()" name="application1" value="Application 1">Application 1</a></p>
    <p><a href="applications/application-2" target="iframe-main" onclick="changetitle()" name="application2" value="Application 2">Application 2</a></p>
    <br>
    <br>
    <p><a href="declaration" class="govuk-button" data-module="govuk-button">I'm finished previewing</a></p>
  </div>

  <div class="govuk-grid-column-three-quarters" id="wrap">
      <h2 class="govuk-heading-m govuk-!-text-align-centre" id="title" name="title">Preview {{data['application']}} </h2>
        <!-- <a href="pdfs/permit.html" download="permit.html"><button type="button">Download</button></a> -->
        <!-- <embed src="pdfs/permit-2.html" width="100%" height="1300px"></embed> -->
        <iframe src="applications/application-1" id="iframe-main" name="iframe-main" width="100%" style="border:none;"></iframe>
  </div>
</div>

<script>
function changetitle() {
// let req.session.data['application'] = req.session.data['application1'];
// alert("amend the changetitle function to correct preview lable");
}
</script>

<style>
  /* #wrap {
    width: 750px;
    height: 1500px;
    padding: 0;
    overflow: hidden;
  } */
  #iframe-main {
    width: 900px;
    height: 1200px;
    border: 0px;
    background-color: #DEDCCB;
  }
  #iframe-main {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #iframe-main {
      zoom: 1;
    }
  }
</style>

    <!-- <button class="govuk-button">Continue</button> -->

{% endblock %}
