{% extends "./layout.html" %}


{% set thisPageTitle = "where-will-you-keep-your-specimen" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" autocomplete="off" {{ novalidateVal }}>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Where will you keep your specimen?
                </h1>
              </legend>

              <p class="govuk-body">If it's a business, give the business address.</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="specimen-address-line-1">
                  Address line 1
                </label>
                <input class="govuk-input" id="specimen-address-line-1" name="specimen-address-line-1" type="text" autocomplete="address-line1"  value="{{data['specimen-address-line-1']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="specimen-address-line-2">
                  Address line 2 (optional)
                </label>
                <input class="govuk-input" id="specimen-address-line-2" name="specimen-address-line-2" type="text" autocomplete="address-line2" value="{{data['specimen-address-line-2']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="specimen-address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="specimen-address-town" name="specimen-address-town" type="text" autocomplete="address-level2" value="{{data['specimen-address-town']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="specimen-address-county">
                  County (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="specimen-address-county" name="specimen-address-county" type="text" value="{{data['specimen-address-county']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="specimen-address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="specimen-address-postcode" name="specimen-address-postcode" type="text" autocomplete="postal-code" value="{{data['specimen-address-postcode']}}">
              </div>

            </fieldset>
          </div>

        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>
  {% endblock %}
