{% extends "./layout.html" %}


{% set thisPageTitle = "search-for-your-address" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Search for address
          </h1>
        </legend>
        <div id="event-name-hint" class="govuk-hint">
        If the owner is a business, give the business address.
      </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="your-address-line-1">
            Property number or name (optional)
          </label>
          <input class="govuk-input" id="your-address-line-1" name="your-address-line-1" type="text" autocomplete="your-address-line1" value="{{data['your-address-line-1']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="your-address-line-2">
            Street (optional)
          </label>
          <input class="govuk-input" id="your-address-line-2" name="your-address-line-2" type="text" autocomplete="your-address-line2"  value="{{data['your-address-line-2']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="your-address-country">
            Town or city (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="your-address-country" name="your-address-country" type="text" autocomplete="your-address-country" value="{{data['your-address-country']}}">
        </div>

      </fieldset>

        <button class="govuk-button">Search</button>

    </form>
  </div>
</div>


{% endblock %}
