{% extends "./layout.html" %}


{% set thisPageTitle = "where-did-you-source-your-specimen-from" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{data['speciesName']}}</span>
            <h1 class="govuk-fieldset__heading">
              Where did you source the specimen from?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specimen-source-1" name="specimenSource" type="radio" value="From the wild">
              <label class="govuk-label govuk-radios__label" for="specimen-source-1">
                From the wild (W)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specimen-source-2" name="specimenSource" type="radio" value="Reared in a controlled environment (taken as eggs or juveniles from the wild)">
              <label class="govuk-label govuk-radios__label" for="specimen-source-2">
                Reared in a controlled environment (taken as eggs or juveniles from the wild) (R)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specimen-source-3" name="specimenSource" type="radio" value="Animals bred in captivity for commercial purposes">
              <label class="govuk-label govuk-radios__label" for="specimen-source-3">
                Animals bred in captivity for commercial purposes (D)
              </label>
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specimen-source-4" name="specimenSource" type="radio" value="Animals bred in captivity for non-commercial purposes">
                <label class="govuk-label govuk-radios__label" for="specimen-source-4">
                  Animals bred in captivity for non-commercial purposes (C)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specimen-source-5" name="specimenSource" type="radio" value="Animals born in captivity that do not meet the Commission Regulation criteria">
                <label class="govuk-label govuk-radios__label" for="specimen-source-5">
                  Animals born in captivity that do not meet the Commission Regulation criteria (F)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="specimen-source-6" name="specimenSource" type="radio" value="Plants artificially propagated for commercial purposes">
                <label class="govuk-label govuk-radios__label" for="specimen-source-6">
                  Plants artificially propagated for commercial purposes (D)
                </label>
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="specimen-source-7" name="specimenSource" type="radio" value="Plants artificially propagated for non-commercial purposes">
                  <label class="govuk-label govuk-radios__label" for="specimen-source-7">
                    Plants artificially propagated for non-commercial purposes (A)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="specimen-source-8" name="specimenSource" type="radio" value="Confiscated or seized">
                  <label class="govuk-label govuk-radios__label" for="specimen-source-8">
                    Confiscated or seized (I)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="specimen-source-9" name="specimenSource" type="radio" value="Pre-convention">
                  <label class="govuk-label govuk-radios__label" for="specimen-source-9">
                    Pre-convention (O)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="specimen-source-10" name="specimenSource" type="radio" value="Taken from the marine environment">
                  <label class="govuk-label govuk-radios__label" for="specimen-source-10">
                    Taken from the marine environment (X)
                  </label>
                </div>
                <div class="govuk-radios__divider">Or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="specimen-source-11" name="specimenSource" type="radio" value="I do not know">
                  <label class="govuk-label govuk-radios__label" for="specimen-source-11">
                    I do not know
                  </label>
                </div>


        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
