{% extends "./layout.html" %}


{% set thisPageTitle = "Check your answers" %}

{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">{{data['speciesName']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{ thisPageTitle }}</h1>

    <!-- <h2 class="govuk-heading-s">Do you own the specimen?</h2> -->
    <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Do you own the specimen?</dt>
        <dd class="app-check-your-answers__answer">{{ data['isOwner'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Enter your contact details</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
            Full name
        <br>Business name
        <br>email
    </dt>
        <dd class="app-check-your-answers__answer">
              {{data['your-full-name']}}
          <br>{{data['your-business-name']}}
          <br>{{data['your-email']}}
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Confirm your address</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Confirm your address</dt>
        <dd class="app-check-your-answers__answer">
              {{data['your-address']}}
          <!-- <br>{{ data['your-address-line-2'] }}
          <br>{{ data['your-address-town'] }}
          <br>{{ data['your-address-county'] }}
          <br>{{ data['your-address-postcode'] }}</dd> -->
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Enter the owner's contact details</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
            Full name
        <br>Business name
        <br>email
        </dt>
        <dd class="app-check-your-answers__answer">
              {{data['owner-full-name']}}
          <br>{{data['owner-business-name']}}
          <br>{{data['owner-email']}}
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Confirm your address</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Confirm the owner's address</dt>
        <dd class="app-check-your-answers__answer">
            {{data['owner-address']}}
          <!-- <br>{{ data['owner-address-line-2'] }}
          <br>{{ data['owner-address-town'] }}
          <br>{{ data['owner-address-county'] }}
          <br>{{ data['owner-address-postcode'] }} -->
        </dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">What type of permit or certificate are you applying for?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">What type of permit or certificate are you applying for?</dt>
        <dd class="app-check-your-answers__answer">{{ data['permitType'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">What is the name of your specimen?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">What is the name of your specimen?</dt>
        <dd class="app-check-your-answers__answer">{{ data['specimen'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Is the specimen alive?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Is the specimen alive?</dt>
        <dd class="app-check-your-answers__answer">{{ data['isAlive'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Describe the specimen</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
              Gender
          <br>Closed ring number
          <br>Hatch date
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['specimen-gender'] }}
          <br>{{ data['closed-ring-number'] }}
          <br>{{ data['hatch-date-day'] }} {{ data['hatch-date-momnth'] }} {{ data['hatch-date-year'] }}
        </dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">What is the total weight of the specimen?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">What is the total weight of the specimen?</dt>
        <dd class="app-check-your-answers__answer">{{ data['specimen-weight'] }} kg</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Where are you importing the specimen from?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Where are you importing the specimen from?</dt>
        <dd class="app-check-your-answers__answer">{{ data['countryImportingFrom'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Is {{ data['country-of-origin'] }} the specimen's country of origin?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Is {{ data['countryImportingFrom'] }} the specimen's country of origin?</dt>
        <dd class="app-check-your-answers__answer">{{ data['isCountryOfOrigin'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Where is the specimen’s country of origin?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Where is the specimen’s country of origin?</dt>
        <dd class="app-check-your-answers__answer">{{ data['country-of-origin'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Where are you exporting the specimen to?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Where are you exporting the specimen to?</dt>
        <dd class="app-check-your-answers__answer">{{ data['country-exporting-to'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Tell us about the specimen's country of origin export permit</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Permit no.
          <br>Issued date
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['permit-number'] }}
          <br>{{ data['permit-issued-day'] }}  {{ data['permit-issued-month'] }}  {{ data['permit-issued-year'] }}
        </dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Is this the only time the specimen has moved from its country of origin?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Is this the only time the specimen has moved from its country of origin?</dt>
        <dd class="app-check-your-answers__answer">{{ data['theOnlyTimeMoved'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Are you sending the specimen to someone else?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Are you sending the specimen to someone else?</dt>
        <dd class="app-check-your-answers__answer">{{ data['sendingToSomeoneElse'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Who is receiving the specimen?</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
              Full name
          <br>Address
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['receiver-full-name'] }}
          <br>{{ data['receiver-international-address-line-1'] }}
          <br>{{ data['receiver-international-address-line-2'] }}
          <br>{{ data['receiver-international-address-postal-code'] }}
          <br>{{ data['receiver-international-address-country'] }}
      </dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Has the specimen ever moved from its country of origin?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Has the specimen ever moved from its country of origin?</dt>
        <dd class="app-check-your-answers__answer">{{ data['hasMovedBefore'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Where was the specimen last re-exported from?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Where was the specimen last re-exported from?</dt>
        <dd class="app-check-your-answers__answer">{{ data['re-export-country'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">What is the last re-export certificate number?</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
              Certificate No.
          <br>Issued date
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data['cert-number'] }}
        <br>{{ data['cert-issued-day'] }}  {{ data['cert-issued-month'] }}  {{ data['cert-issued-year'] }}
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <h2 class="govuk-heading-m">Where will you keep your specimen?</h2>
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Address</dt>
        <dd class="app-check-your-answers__answer">
          {{ data['specimen-address-line-1'] }}
        <br>{{ data['specimen-address-town'] }}
        <br>{{ data['specimen-address-county'] }}
        <br>{{ data['specimen-address-postcode'] }}
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Where did you source your specimen from?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Where did you source your specimen from?</dt>
        <dd class="app-check-your-answers__answer">{{ data['specimenSource'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">What will you use your permit for?</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">What will you use your permit for?</dt>
        <dd class="app-check-your-answers__answer">{{ data['purpose'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Add any other information</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Add any other information</dt>
        <dd class="app-check-your-answers__answer">{{ data['comment'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

      <!-- <h2 class="govuk-heading-s">Confirm you have the owner's consent</h2> -->
      <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-4">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question govuk-heading-m">Confirm you have the owner's consent</dt>
        <dd class="app-check-your-answers__answer">{{ data['consentDec'] }}</dd>
        <dd class="app-check-your-answers__change"><a href="#">Change</a></dd>
      </div>
      </dl>

<!-- LEGAL DECLARATIONS-->

{% if data['isOwner'] === 'no'%}
    <h2 class="govuk-heading-m">Legal declaration</h2>
    <p class="govuk-body">By submitting your application, you agree that the information you have provided, is correct.</p>
      <div class="govuk-form-group">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="legalDec" name="legalDec" type="checkbox" value="agree" required>
            <label class="govuk-label govuk-checkboxes__label" for="legalDec">
              I agree
            </label>
          </div>
        </div>
      </div>
      {% else %}
      <h2 class="govuk-heading-m">Legal declaration</h2>
      <p class="govuk-body">By submitting your application, you agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you have provided is correct</li>
        <li>you have the owner's consent to apply on their behalf</li>
      </ul>
      <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="legalDec" name="legalDec" type="checkbox" value="agree" required>
              <label class="govuk-label govuk-checkboxes__label" for="legalDec">
                I agree
              </label>
            </div>
          </div>
        </div>
{% endif %}

    <form method="post" autocomplete="off" {{ novalidateVl }}>
      <button class="govuk-button">Submit</button>
    </form>

  </div>
</div>

{% endblock %}
