{% extends "./layout.html" %}


{% set thisPageTitle = "what-is-the-last-re-export-certificate-number" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
      <span class="govuk-caption-l">{{data['species-name-1']}} ({{data['specimenCount']}} of {{data['totalSpecimens1']}})</span>
        <h1 class="govuk-heading-l">
            What is the last re-export certificate number?
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="cert-number">
            Certificate number
          </label>
        <input class="govuk-input govuk-input--width-20" id="cert-number" name="cert-number" type="text" spellcheck="false" autocomplete="cert-number" value="{{data['cert-number']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="cert-issue-date">
            When was the certificate issued?
          </label>
          <div id="cert-issued-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <div class="govuk-date-input" id="cert-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="cert-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cert-issued-day" name="cert-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="cert-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cert-issued-month" name="cert-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="cert-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="cert-issued-year" name="cert-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>


{% endblock %}
