{% extends "./layout.html" %}


{% set thisPageTitle = "interuption-owner-is-non-uk-resident" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<style>
  .interrupt {
    background-color: #1d70b8;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  p {
      color: white;
    }
  h1 {
      color: white;
    }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="interrupt">
        <h1 class="govuk-heading-l" style="color: white">You must complete this application using your own details</h1>
        <p class="font-color" >Because the owner is not a UK resident, you must complete the application using your details.</p>
        <p>You must have the owner’s consent to apply on their behalf.</p>
        <br>
      <button class="govuk-button" style="background-color: white; color: black">Confirm</button>

      </div>

    </form>
  </div>
</div>



{% endblock %}
