{% extends "./layout.html" %}


{% set thisPageTitle = "are-you-moving-the-specimen-for-commercial-activities" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Are you moving the specimen for commercial activities?</h1>
        <div id="item-type-hint" class="govuk-hint">
          You will need an Article 10 certificate if you are moving the specimen for commercial activities.
        </div>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="selling-yes" name="isSelling" type="radio" value="selling">
            <label class="govuk-label govuk-radios__label" for="selling-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="selling-no" name="isSelling"  type="radio" value="not selling">
            <label class="govuk-label govuk-radios__label" for="selling-no">
              No
            </label>
          </div>
        </div>
      </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
