{% extends "./layout.html" %}


{% set thisPageTitle = "confirm-owner-address" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Confirm the owner's address
            </h1>
          </legend>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="delivery-address-1" name="delivery-address" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="delivery-address-1">
                Deliver the permit to this address
              </label>
            </div>
          </div>


          {% if data['owner-address'] === '14 Treetop Avenue, Leeds LE18 3PT'  %}
          <p>
            <br>14 Treetop Avenue
            <br>Leeds
            <br>LE18 3PT
            <!-- <br>{{data['address-postcode']}} -->
          </p>
          {% endif %}

          {% if data['owner-address'] === '2 Clifton Street, Leeds LE18 3PT'  %}
          <p>
            <br>2 Clifton Street
            <br>Leeds
            <br>LE18 3PT
            <!-- <br>{{data['address-postcode']}} -->
          </p>
          {% endif %}

          {% if data['owner-address'] === '10 Clifton Street, Leeds LE18 3PT'  %}
          <p>
            <br>10 Clifton Street
            <br>Leeds
            <br>LE18 3PT
            <!-- <br>{{data['address-postcode']}} -->
          </p>
          {% endif %}
        </fieldset>
      </div>
      <button class="govuk-button">Confirm</button>
      <p><a href="whats-the-owners-address" >Change address</a></p>

    </form>
  </div>
</div>



{% endblock %}
