{% extends "./layout.html" %}

{% set thisPageTitle = "CITES prototypes" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include ".//includes/stage-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ thisPageTitle }}
      </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
              Version
            </dt>
            <dd class="govuk-summary-list__key">
              Changes
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="background: lightgrey">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v01
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">First version</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Question pages</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v01/public/are-you-applying-on-behalf-of-somebody-else">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row"">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v02
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Agent flow</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Interrupt page</li>
                      <li>Contact details</li>
                      <li>Owner's consent</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v02/public/are-you-applying-on-behalf-of-somebody-else">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


    </div>
</div>


{% endblock %}
