{% extends "./layout.html" %}

{% set thisPageTitle = "CITES prototypes" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block beforeContent %}
  {% include ".//includes/stage-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ thisPageTitle }}
      </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%">
              Version
            </dt>
            <dd class="govuk-summary-list__key">
              Changes
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="background: lightgrey">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v05
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Multiple applications</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="/v05/public/start?specimenType=animal">
                        Animal application<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="/v05/public/start?specimenType=plant">
                        Plant application<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-button" href="/v05/public/start?specimenType=animal">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v04
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Permit type flows</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Import, Export, Re-Export and A10s</li>
                      <li>
                        <a href="/v04/public/start?specimenType=animal">
                        Animal application<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="/v04/public/start?specimenType=plant">
                        Plant application<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v04/public/start?specimenType=animal">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v03
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Autocomplete</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Scientific name</li>
                      <li>Countries</li>
                    </ul>

              <h2 class="govuk-heading-s">Species types & trade terms</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <a href="/v03/public/leather-goods">
                        Leather goods<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="/v03/public/live-animals-and-derivatives">
                        Live animals & derivatives<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                        <li>
                          <a href="/v03/public/is-the-specimens-plastron-longer-than-60mm">
                          Unmarked tortoises<span class="govuk-visually-hidden"></span>
                          </a>
                        </li>
                        <li>
                        <a href="/v03/public/plants">
                        Plants<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                      <li>
                        <a href="/v03/public/what-is-the-total-weight-of-the-specimen">
                        Coral<span class="govuk-visually-hidden"></span>
                        </a>
                      </li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v03/public/start">
                View prototype<span class="govuk-visually-hidden"></span>
                </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row"">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v02
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">Agent flow</h2>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Interrupt page</li>
                      <li>Contact details</li>
                      <li>Owner's consent</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v02/public/start">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row"">
            <dt class="govuk-summary-list__key" style="width: 15%; padding-top: 20px; padding-bottom: 20px">
              v01
            </dt>
            <dd class="govuk-summary-list__value" style="padding-top: 20px; padding-bottom: 20px">
              <h2 class="govuk-heading-s">First version</h2>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Question pages</li>
                    </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/v01/public/are-you-applying-on-behalf-of-somebody-else">
                View prototype<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


    </div>
</div>

{% endblock %}
