{% extends "./layout.html" %}


{% set thisPageTitle = "how-many-specimens" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
      <span class="govuk-caption-l">{{data['species-name-1']}}</span>
        <h1 class="govuk-heading-l">
            How many specimens of the species will be imported?
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="being-moved">Enter the total number of {{data['species-name-1']}} specimens.</label>
          <input class="govuk-input govuk-input--width-3" id="being-moved" name="howMany" type="number" value="{{data['howMany']}}" />
        </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>


{% endblock %}
