{% extends "./layout.html" %}


{% set thisPageTitle = "intewruption-owner-is-uk-resident" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<style>
  .interrupt {
    background-color: #1d70b8;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
  p {
      color: white;
    }
  h1 {
      color: white;
    }
  li{
      color: white;
    }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="interrupt">
        <h1 class="govuk-heading-l" style="color: white">You must provide accurate information on behalf of the owner</h1>
        <p>You must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>provide accurate information</li>
          <li>have permission to act on the owner's behalf</li>
        </uL>
        <br>
      <button class="govuk-button" style="background-color: white; color: black">Continue</button>

      </div>





    </form>
  </div>
</div>



{% endblock %}
