{% extends "./layout.html" %}


{% set thisPageTitle = "description" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
        <h1 class="govuk-heading-l">
            Describe the specimen
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="description">Tell us about the specimen, for example, its age and sex. You should include any ring or microchip numbers, as well as other identifying features or marks.</label>
          <!-- <input class="govuk-input" id="description" name="specimen-description" type="text" value="{{data['specimen-description']}}" /> -->
          <!-- <div id="item-type-hint" class="govuk-hint">
            For example, ‘6 year old grey with black blaze’
          </div> -->
        </div>

        <textarea class="govuk-textarea" id="description" name="description" rows="10" aria-describedby="more-detail-hint" value="{{data['specimen-description']}}"></textarea>


      <button class="govuk-button">Continue</button>

    </form>
  </div>


{% endblock %}
