{% extends "./layout.html" %}


{% set thisPageTitle = "enter-your-contact-details" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">
        <h1 class="govuk-heading-l">
            Enter your contact details
        </h1>
        <div class="govuk-form-group">
            <label class="govuk-label" for="agent-email">email</label>
              <input class="govuk-input govuk-input--width-20" id="agent-email" name="agent-email" type="email" value="{{data['agent-email']}}" required/>
        </div>

      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>


{% endblock %}
