{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a CITES permit
{% endblock %}
  {% block beforeContent %}
  {% endblock %}

  {% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Apply for a CITES permit
        </h1>
        <p>Ut ac dui velit. Etiam blandit diam quis efficitur commodo. Fusce dapibus fringilla consectetur. Vivamus suscipit magna euismod elit blandit, a sagittis purus convallis. </p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Who can apply
        </h2>
        <p>Ut at mauris a lacus feugiat aliquam eu sit amet metus. Mauris faucibus turpis sit amet condimentum feugiat. Phasellus placerat vulputate urna nec tincidunt. Curabitur metus lectus, tincidunt id ultricies id, dignissim eget ipsum. Nullam orci nunc, blandit at mauris quis, tincidunt dignissim magna. Suspendisse sapien ipsum, pretium vitae vulputate eget, suscipit sed risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean quis quam vel massa aliquet fringilla. Ut sollicitudin venenatis congue.</p>
        <p>Fusce sagittis a felis at faucibus. Nulla scelerisque imperdiet ante in commodo. Nulla gravida sagittis urna, sit amet congue nunc convallis nec.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Quisque vel consequat arcu. Morbi aliquam dolor urna, et lobortis metus rutrum nec</li>
          <li>Vivamus ut tellus erat. Mauris nibh urna</li>
          <li>consequat vel cursus sed, luctus eget nibh. </li>
        </ul>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          How the fund works
        </h2>
        <p>Aliquam mattis, velit non elementum facilisis, neque purus venenatis risus, vitae facilisis mauris leo et felis. Duis sit amet neque id libero lacinia posuere vel a metus. Donec sit amet vehicula turpis.</p>
        <p>Donec enim tellus, vestibulum condimentum lacus ut, euismod mollis velit.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
      </div>
  </div>
  {% endblock %}
