{% extends "./layout.html" %}


{% set thisPageTitle = "is-this-specimen-correct" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off">

      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Is this specimen correct?</h1>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Scientific name
            </dt>
            <dd class="govuk-summary-list__value">
              {{data['specimen-name']}}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Common name
            </dt>
            <dd class="govuk-summary-list__value">
              Horse
              {{ data['common-name'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appendix
            </dt>
            <dd class="govuk-summary-list__value">
              III
              {{ data['appendix'] }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Appendix ref
            </dt>
            <dd class="govuk-summary-list__value">
              LV
              {{ data['appendix-ref'] }}
            </dd>
          </div>
        </div>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="correctSpecimen-yes" name="correctSpecimen" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="correctSpecimen-yes">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="correctSpecimen-no" name="correctSpecimen" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="correctSpecimen-no">
              No
            </label>
          </div>
        </div>
<br>
      <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>



{% endblock %}
