{% extends "./layout.html" %}


{% set thisPageTitle = "what-are-your-contact-details" %}


{% block pageTitle %}
{{ thisPageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" autocomplete="off" {{ novalidateVal }}>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What are your contact details?
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name" value="{{data['agent-full-name']}}">
        </div>

        <!-- <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            UK telephone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel" value="{{data['agent-telephone-number']}}">
        </div> -->

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="agent-address-line-1" name="agent-address-line-1" type="text" autocomplete="address-line1" value="{{data['agent-address-line-1']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="agent-address-line-2" name="agent-address-line-2" type="text" autocomplete="address-line2"  value="{{data['agent-address-line-2']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="agent-address-town" name="agent-address-town" type="text" autocomplete="address-level2" value="{{data['agent-address-town']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="agent-address-county" name="agent-address-county" type="text" value="{{data['agent-address-county']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="agent-address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="agent-address-postcode" name="agent-address-postcode" type="text" autocomplete="postal-code" value="{{data['agent-address-postcode']}}">
        </div>

      </fieldset>

        <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>


{% endblock %}
